
.Header-header {
    max-width: 1110px;
    margin: 0 auto 55px auto;
    position: relative;
    
    align-items: center;
  }
  
  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0 5px 0;
    
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    
    background-color: rgb(209, 187, 187);
    width: 77rem;
    height: 4rem;
    
  }
  
 .logo-nome {
    position: absolute;
    left: 2px;
   
    font-family: "Exo";
    font-weight: 700;
    font-size: 1.4em;
    color: blue;
    margin-left: 1.5rem;
  }
  
  .logo-icone {
    position: absolute;
    left: -69px;
    top: -3px;
    margin-right: 25rem;

    
  }
  
  .Sacola {
    position: relative;
  }
  
  .Sacola-icone {
    cursor: pointer;
  }
  
  .Sacola__badge {
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    color: white;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 0;
    right: 0;
  }
  
  @media (max-width: 1220px) {
    .Header {
      max-width: 720px;
    }
  }
  
  @media (max-width: 840px) {
    .Header {
      max-width: 320px;
    }
  }
  
  @media (max-width: 400px) {
    .Header {
      max-width: 250px;
    }
  
    .row {
      column-gap: 20px;
    }
  
    .Logo__titulo {
      font-size: 1.5em;
    }
  }

/* icone adicionar*/


.convite {
  background: none;
  border: none;

  margin-left: 45rem;
  margin-top: 1.4rem;
  
  
}

.convite__icone {

  cursor: pointer;
 
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }

 

  .row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
  }
  .convite {
    background: none;
    border: none;
    
  }

  
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

 

  .Logo {
    width: 100%;
  }



  .Logo__titulo {
    font-size: 1.5em;
  }
  
}
