.detalhesModal{
    font-family: "Exo";

    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    max-height: 250px;
    box-sizing: border-box;
    width: 315px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  
  .detalhesModal > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .ConviteDetalhesModal__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
    color : green;
    margin-left: -5rem;
  }
  
  .ConviteDetalhesModal__preco {
    font-size: 1rem;
    color: maroon;
    margin-left: -3rem;
  }
  
  .ConviteDetalhesModal__descricao{
    color: black;
    font-size: 1.5rem;

    flex-direction:column;
    margin-left: -5rem;

  flex-wrap: wrap;
  }
  
  .ConviteDetalhesModal__foto {
    margin-right: -80px;
    margin-top: 1rem;
    z-index: 0;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 400px) {
    .detalhesModal{
      width: 210px;
      height: 100vh;
    }
  
    .ConviteDetalhesModal__foto {
      height: 250px;
      margin-top: 50px;
      margin-right: -100px;
    }
  
    .ConviteDetalhesModal__preco {
      font-size: 2em;
    }
  
    .ConviteDetalhesModal__titulo {
      font-size: 1.5em;
    }
  
    .ConviteDetalhesModal__descricao {
      font-size: 0.9em;
    }
  }
